body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 1px solid #00bcd4;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.contenedor {
  background-color: #5c636a;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  min-width: 300px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #00cfff;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #00aacc;
}

#resultado {
  margin-top: 20px;
  font-size: 1.2em;
}
